@model IPagedList<RstaurantViewModel>

<div id="restaurantList">
    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    @foreach (var i in Model)
    {
        <div>
            <h4>@i.Name</h4>
            <div>@i.City, @i.Country</div>
            <div>Reviews: @i.NumberOfReviews</div>
            <hr />
        </div>
    }
</div>
